# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/test-results
/playwright-report
/blob-report
/.nyc_output

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini
*.pem
*.swp
*.swo
*~

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# local tool caches
/.cache
/.eslintcache
/.parcel-cache
/.turbo
/.vite

# editor settings
/.idea
/.vscode

# local Docker overrides
docker-compose.override.yml
compose.override.yml
